.info {
  margin: 40px 0;
  img {
    width: 100%;
  }
}

.features {
  padding: 40px 0;
  background-color: $color4;
  ul {
    padding: 0 20px;
  }
  li {
    list-style: square;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .sec-list {
    padding-left: 40px;
    li {
      list-style: circle;
      margin-top: 5px;
      margin-bottom: 5px;
      font-style: italic;
    }
  }
}

.info-last {
  .info-col {
    margin-bottom: 20px;
  }
  h5 {
    padding: 0 20px;
  }
  a {
    text-transform: uppercase;
    font-weight: bold;
    color: $color1;
  }
  a:hover {
    text-decoration: none;
    color: $color2;
  }
}

.help {
  margin-top: 20px;
  font-style: italic;
  font-size: 10px;
  @media #{$large_device} {
    font-size: 12px;
  }
  @media #{$mobile_device} {
    font-size: 8px;
  }
}

.add-element {
  background-color: $color1;
  color: #fff;
  //   font-size: 16px;
  padding: 14px 0;
  @media #{$large_device} {
    // font-size: 18px;
    padding: 18px 0;
  }
  @media #{$mobile_device} {
    // font-size: 14px;
    padding: 9px 0;
  }

  h4 {
    margin-bottom: 1px;
    margin-right: 20px;
    font-size: 18px;
    @media #{$large_device} {
      margin-bottom: 4px;
      font-size: 20px;
    }
    @media #{$mobile_device} {
      margin-bottom: 0px;
      font-size: 16px;
    }
  }
}
