<!DOCTYPE html>
<html lang="uk">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Сервіс для архітекторів">
    <meta name="author" content="Вдовкін Олександр">

    <title>Steel Frame Calculator</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome css-->
    <link href="static/css/fontawesome-free/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom css-->
    <link href="static/css/style.css" rel="stylesheet" type="text/css">

    </head>

    <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Розрахунок сталевого каркасу</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Про сервіс
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.uscc.ua/">Повернутися на сайт УЦСС</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="my-5 container">

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-12 text-center">
          <h4 class="my-2">Сервіс для попереднього по розрахунку типового фрагменту сталевого каркасу</h4>
          <p>Мета данного сервісу дати орієнтовні показники розмірів елементів сталевого каркасу 
            на єтапі єкскізного проєкту.
          </p>
          <p>
            Данні показники мають бути уточнені при робочому проєктуванні у спеціальних розрахункових САПР.   
          </p>
          <p>
            Для складних об'єктів та у разі винекнення будь-яких запитань звертайтесть до інженерного центру УЦСС
          </p>
          <img class="img-fluid" src="static/img/form.png" alt="Question form">
        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <script src="static/js/main.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

  </body>

</html>