{% extends "layout.html" %} {% block content %}
<!-- Page Content -->
<div class="container">
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="my-3">
        Сервіс створено для попередньої оцінки висоти металевих балок на етапі
        екскізного проекту. Також серівс видає рекомендації щодо можливості
        пропуску комунікацій крізь дані балки.
      </p>

      <p class="my-2">
        Отриманні дані мають бути уточнені при робочому проєктуванні у
        спеціальних розрахункових САПР.
      </p>
      <p class="my-5">
        Для складних об'єктів та у разі винекнення будь-яких запитань
        звертайтесть до інженерного центру УЦСС
      </p>
      <a class="btn-orange" href="{{url_for('questions')}}">Задати питання</a>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
{% endblock content %}
