{% extends "layout.html" %} {% block content %}
<!-- header -->
<div class="elements-search">
  <div class="searhform">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-9 col-sm-12">
          <div class="text-center justify-content-center">
            <p>
              kkkkkk Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Repellendus minus consequatur, reprehenderit pariatur blanditiis
              sed facere, harum doloribus quod ea vero? Amet repellat illum
              deserunt libero a nesciunt tempora molestiae.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
